.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 80%;
}

.form-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  border: 1px solid #e4e4e4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.form label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.form input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.082) 0px 1px 4px;
}

.form button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #949494;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.form button:hover {
  background-color: #252525;
}
